<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="styles/common.css">
	</head>
	<body class="learn-bar">
		<section class="todoapp hidden">
			<header class="header input_main">
				<h1>todos</h1>
				<input class="new-todo" placeholder="What needs to be done?" autofocus="">
			</header>
			<section class="main">
				<input class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">

				</ul>
			</section>
			<footer class="footer">
                <span class="todo-count"> <span class="amount"></span> left</span>
                <ul class="filters">
                    <li>
                        <a class="selected" href="#/">All</a>
                    </li>
                    <li>
                        <a href="#/active">Active</a>
                    </li>
                    <li>
                        <a href="#/completed">Completed</a>
                    </li>
                </ul>
                <button class="clear-completed">Clear completed</button>
            </footer>
		</section>

		<footer class="info">
			<p>Double-click to edit a 
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>

		<script type="text/template" id="item-template">
			<li class="<%= completed ? 'completed' : ''%>" >
                <div class="view">
                    <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %> >
                    <label><%- title %></label>
                    <button class="destroy"></button>
                </div>
                <input class="edit" value="<%- title %>">
            </li>
		</script>

		<script type="application/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="application/javascript" src="bower_components/lodash/lodash.min.js"></script>

        <script type="application/javascript" src="scripts/Footer.js"></script>
		<script type="application/javascript" src="scripts/Application.js"></script>
		<script type="application/javascript" src="scripts/Input.js"></script>
		<script type="application/javascript" src="scripts/Storage.js"></script>
		<script type="application/javascript" src="scripts/Observable.js"></script>
        <script type="application/javascript" src="scripts/Todo.js"></script>
        <script type="application/javascript" src="scripts/TodoCollection.js"></script>

		<script type="application/javascript" src="scripts/main.js"></script>

	</body>
</html>